:root {
    /* CSS HEX */
--jazzberry-jam: #9e0059;
--rich-black-fogra-29: #0c1821;
--oxford-blue: #1b2a41;
--charcoal: #324a5f;
--honey-yellow: #ffb100ff;
--font: #d3d3d3;
--dark-font: #7e7e7e;

/* CSS HSL */
--jazzberry-jam: hsla(326, 100%, 31%, 1);
--rich-black-fogra-29: hsla(206, 47%, 9%, 1);
--oxford-blue: hsla(216, 41%, 18%, 1);
--charcoal: hsla(208, 31%, 28%, 1);
--honey-yellow: hsla(42, 100%, 50%, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Source Code Pro', monospace;
}
body {
    height: 100vh;
    
    background: var(--rich-black-fogra-29);
    background: linear-gradient(0deg, var(--rich-black-fogra-29) 0%, var(--oxford-blue) 100%);  
}
main {
    margin: 0 auto;
    max-width: 1200px;
}
.nav-bar{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-bar-items li {
    display: inline-block;
    padding-right: 35px;
    height: 100%;
}
.nav-bar-items a {
    text-decoration: none;
    color: var(--font);
    font-weight: normal;
    font-size: 2.5rem;
}
.nav-bar-items a:hover {
    color: var(--dark-font);
}
.welcome-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin-top: 5vh;
}
.greater-than {
    font-size: 50rem;
    color: var(--honey-yellow);
    order: 1;
}
.welcome-typography {
    order: 2;
    color: var(--font);
    text-align: center;
}
.welcome-title {
    font-size: 8rem;
    font-family: 'Source Code Pro', monospace;
}
.welcome-paragraph {
    font-size: 5rem;
    font-family: 'Source Code Pro', monospace;
}
.less-than {
    font-size: 50rem;
    color: var(--honey-yellow);
    order: 3;
}
